# hook to parse an .env file to variables. Use the following installation instructions
# https://direnv.net/#docs
source <(grep -v '^#' .env | sed -E 's|^(.+)=(.*)$|: ${\1=\2}; export \1|g')
## export PYTHONPATH=.:${PYTHONPATH}